@import '@/styles/variables.scss';

.section {
	position: relative;
	width: 100%;
	z-index: 4;
}

.section .inside {
	position: relative;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
}

.inside .left {
	position: relative;
	margin-top: 83px;
}

.inside .left .title {
	position: relative;
	width: 100%;
	max-width: 420px;

	font-size: 62px;
}

.inside .left .leftBg {
	position: absolute;
	left: -200px;
	top: 150px;

	width: 950px;
	height: auto;

	pointer-events: none;

	z-index: -1;
}

.inside .right {
	position: relative;
	width: 450px;
	height: auto;

	margin-top: 40px;
}

.inside .right .topBanana {
	position: absolute;
	left: -170px;
	top: 40px;

	width: 181px;
	height: auto;

	transform: rotate(144.592deg);

	pointer-events: none;
	z-index: -1;
}

.inside .right .bottomBanana {
	position: absolute;
	right: -150px;
	bottom: -130px;

	width: 553px;
	height: auto;

	transform: rotate(-15deg) scaleX(-1);

	pointer-events: none;
	z-index: -1;
}

// RWD
@media (max-width: 850px) {
	.inside {
		flex-wrap: wrap;
	}

	.inside .left {
		width: 100%;
		margin-top: 40px;
	}

	.inside .left .title {
		margin: 0 auto;
		text-align: center;

		font-size: 42px;
	}

	.inside .left .title::before {
		width: 100%;
		left: 50%;
		translate: -50% 0;

		font-size: 42px;
	}
}
