// filters: https://angel-rs.github.io/css-color-filter-generator/
$color-black: #000;
$color-white: #fff;
$color-white-filter: brightness(0) invert(1);

$color-yellow: #ffb103;

$color-scroll: $color-yellow;
$color-background-primary: #fef6d7;
$color-text-primary: $color-black;

$font-signika: 'Signika Negative';
$font-luckiest: 'Luckiest Guy';

$animation1: 0.3s;
$animation2: 1s;
$animation3: 1.5s;
